body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  background-image: linear-gradient(to right, #034378, #2d4e68);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#deleteMsg{
  margin: 0 auto;
  text-align: center;
}
main {
  padding: 0 5vh 0 0;
}

.card>a {
  color: rgb(9, 137, 184);

}

.card {
  max-width: 20vw;
  max-height: 8vh;
  /* Add shadows to create the "card" effect */
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);*/
  transition: 0.3s;
  display: inline-flex;
  align-items: baseline;
  color: floralwhite;
  margin: 10px 150px 10px 150px;

}


/* On mouse-over, add a deeper shadow */
.card>a:hover {
  filter: drop-shadow(1px 1px 1px rgb(253, 252, 252));

}
.btn-link:focus, .btn-link:hover {

border:1px solid transparent;
  background-color: transparent;
}
.fa {
  font-size: 12px;
  font-family: 'FontAwesome' !important;
}

.fa-twitter, .fa-twitter-square {
color:dodgerblue;
}
.fa-facebook, .fa-facebook-square {
color: #034378;
  
}
.fa-github, .fa-github-square{
color: black;
  
}
.card>img {
  max-width: 30px;
  border-color: blue;
  border-radius: 50%;
}
.card>div>* {
  max-width: 30px;
  border-color: blue;
  border-radius: 50%;

}
#socialName {
  word-break: normal;
}

nav {

  min-height: 5vh;
  width: 100%;
  background-color: black;
  display: inline-flex;
  flex-flow: row;

}

#signin {
  margin: 10px 0 5px 50px;

}



@import url('https://fonts.googleapis.com/css?family=Gaegu|Gloria+Hallelujah|Great+Vibes|Indie+Flower|Lato|Open+Sans|Oswald|Permanent+Marker|Montserrat');

.polls>.container1 {
  width: 200px;
  height: 60px;
  /* Green */
  border: 2px solid #000000;
  color: #e7e7e7;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  background-color: #1e1b26;
  margin: 60px auto 0 auto;
  box-shadow: 5px 5px 115px -14px black;
  border-radius: 5px;
  position: relative;
  text-overflow: clip;
  word-wrap: break-word;  -webkit-transition: height 1s ease-out 0.2s; /* For Safari 3.1 to 6.0 */
  transition: height 1s ease-out 0.2s;
}
.polls> .container1:hover {
  height: 200px;

}

.polls>a>p {
  margin: 10px 10px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1),
    3px 3px 3px rgba(0, 0, 0, 1);
  text-overflow: clip;
}

.polls>a>.comment {

 
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans';
  width: 100%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left:0px;
}

.polls>a:hover .comment {
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-name: example;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;

}



@-webkit-keyframes example {
  0% {
    background-color: black;
   color: #e7e7e7
  }

  100% {
    background-color:floralwhite;
    color: #000000;
    opacity:1 ;
  }
}





a:hover {
   text-decoration-line: none;
  text-decoration-color: blue;
}

.polls {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;

  margin-top: 50px;
}

/*hlasovanie*/
#myChart {
  grid-area: vote-myChart;
}

#votePanel {
  grid-area: votePanel;
}

#footBtn {
  grid-area: buttons;
 
}

.mainContent {margin: 0 25% 0 25%; 
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 400px 200px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "vote-myChart votePanel"
    "buttons buttons";
 
}


#votePanel {
  width: 200px;
  font-family: 'Great Vibes', cursive;
  font-size: 14pt;
  padding: 15px;
  position: relative;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6),
    2px 2px 12px rgba(0, 0, 0, 0.5),
    3px 3px 15px rgba(0, 0, 0, 0.4),
    3px 3px 18px rgba(0, 0, 0, 0.3);
}

#votePannel>form>input,
#voteComment>p {
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
  margin-top: 15px;

}
#addOption{
background-color: inherit;

}
 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: grey;
} 
.btn{
  font-family: 'Lato', Courier, monospace; 
}

#footBtn {
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
  margin-top: 15px;
  text-align: center;
}
#footBtn>*{
color: ghostwhite;
   text-decoration-line: none;
  text-decoration-color: blue;
}
#voteComment>p {
  margin-top: 10px;
  width: 80%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  font-size: 8pt;
  text-transform: lowercase;
  text-align: start;
color:#fff;
text-shadow: 0 2px rgba(0, 0, 0, 0.4),
0 4px rgba(0, 0, 0, 0.4),
0 6px rgba(0, 0, 0, 0.4),
0 8px rgba(0, 0, 0, 0.4),
}

#VoteformAddoption>* {
  display: block;
  margin-top: 10px;
 width: 100px;

}
#VoteformAddoption{
   position: absolute;
 bottom: 10px;
}
input[type=radio] {
  margin: 12px;
  color: blue;
  text-anchor: end;
}

.shaddowbtn {
  border: 0.5px solid;
  padding: 1px;
  box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6),
    3px 3px 12px rgba(0, 0, 0, 0.5),
    4px 4px 15px rgba(0, 0, 0, 0.4);
   
  text-align: center;
}
#formVoteSubmit{
  margin-top: 10px;
}
/*modal*/
.modal-body>form * {
  margin: 5px;

}

#addValueOptiontoModal {
  width: 200px;
}
/*Modal*/
.ModalPollsinputs>* {
  margin-top: 5px;

}

.modal-body>*,
.modal-footer>*,.ModalPollsinputs>* ,.modal-textarea>textarea
 {
  color: rgb(119, 33, 199);
  font-family: 'Permanent Marker', cursive;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));

}

.modal-title
  {
  margin-top: 10px;
  font-family: 'Gaegu', cursive;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6),
    2px 2px 2px rgba(0, 0, 0, 0.5),
    3px 3px 3px rgba(0, 0, 0, 0.4),
    4px 4px 4px rgba(0, 0, 0, 0.3);
}

.modal-polls {
  grid-area: modal-polls;
}

.ModalPollsinputs {
  grid-area: ModalPollsinputs;
}

.modal-textarea {
  grid-area: modal-textarea;
}

.newpoll-title {
  grid-area: newpoll-title;
}

.newpoll-footer {
  grid-area: newpoll-footer;
}

.modal-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "newpoll-title  modal-textarea"
    "modal-article  modal-textarea"
    "ModalPollsinputradio modal-textarea"
    "newpoll-footer modal-textarea";
}

.indiefont {
  font-family: 'Indie Flower', cursive;
}

.latofont {
  font-family: 'Lato', sans-serif;
}

.osansfont {
  font-family: 'Open Sans', sans-serif;
}

.oswaldfont {
  font-family: 'Oswald', sans-serif
}

.gloriafont {
  font-family: 'Gloria Hallelujah', cursive;
}

.fixfont {
  font-family: 'Permanent Marker', cursive;
}

.GVfont {
  font-family: 'Great Vibes', cursive;
}

.Gfont {
  font-family: 'Gaegu', cursive;
}